.header {
    height: 6.5rem;
    border: 2px solid #0b0b0b1a;

    .wrap {
        position: relative;
        height: 100%;
        max-width: 1450px;
        margin: 0 auto;


        .logo {
            position: absolute;
            width: 22.0rem;
            left: 10px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);

            img {
                display: block;
                width: 100%;
                margin: 0;
            }
        }
    }
}