@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Raleway:wght@400;500&display=swap');

*, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

a {
    text-decoration: none;
}

a, a:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}